@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que el scrollbar siempre esté presente */
html {
  overflow-x: hidden;
}
body {
  overflow-y: scroll; /* Siempre muestra el scroll vertical */
  scrollbar-width: thin; /* Grosor del scroll, ajusta según necesites */
  scrollbar-color: #cccccc #f0f0f0; /* Color del scroll, ajusta según tu diseño */
}

/* Opcional: Ajusta el tamaño del scroll en navegadores específicos */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll en Chrome/Safari */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color de fondo del scroll */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
  border: 3px solid #f0f0f0; /* Borde alrededor de la barra de desplazamiento */
}
